html, body{
	border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: Ovo, serif;
    font-size: 0.9em;
}

h1, h2{
    font-family: Muli, sans-serif;
    text-align: center;
}

#top > img {
    width: 100%;
    margin-top: 3em;
}

#container {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.nav_span {
    margin-left: 4em;
}

#nav_bar {
    background-color: #0868ac;
    font-size: 1.50em;
    height: 2em;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    width: 100%;
    position: fixed;
}

#nav_bar a:link {
    color: #000000;
}

#nav_bar a:hover {
    color: #c51b8a;
}


#info { 
    margin-top: 2em;
    margin-bottom: 0em;
    margin-right: auto;
    margin-left: auto;
}
#info p{
    width: 80%;
    text-align: justify;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1em;
}

#images {
    margin-top: 2em;
    margin-bottom: 0em;
    margin-right: auto;
    margin-left: 10em;}

#images > img {
    display: inline-block;
    width: 400px;
    height: 240px;
}


table {

    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0px auto;
    margin-top: 1.5em;
}

tr td {
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
}

#stage2 {
   padding-right: 4em;
}


footer {
  background-color: #CECECE;
  color: white;
  display: block;
  font-size: 10px;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

